*.o
*.lo
*.la
.libs
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/compile
/config.cache
/config.cache-env
/config.guess
/config.guess.cdbs-orig
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config.sub.cdbs-orig
/configure
/data/frames/default.edj
/debian/files
/debian/*.debhelper.log
/debian/*.substvars
/debian/libethumb-bin/
/debian/libethumb-dbg/
/debian/libethumb-dev/
/debian/*.debhelper
/debian/libethumb/
/debian/stamp-*
/debian/tmp/
/depcomp
/doc/Doxyfile
/ethumb.pc
/ethumb.spec
/ethumb_client.pc
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/org.enlightenment.Ethumb.service
/samsung.pac
/src/bin/ethumb
/src/bin/ethumbd
/src/bin/ethumbd_client
/src/bin/ethumbd_slave
/stamp-h1
