Source: ethumb
Section: x11
Priority: optional
Maintainer: Jaehwan Kim <jae.hwan.kim@samsung.com>, Juyung Seo <juyung.seo@samsung.com>
Original-Maintainer: quaker <quaker66@gmail.com>
Build-Depends: cdbs, debhelper (>= 6), libevas-dev, libedje-dev, libeina-dev, libecore-dev, libedbus-dev, pkg-config, libtool
Standards-Version: 3.8.1
Homepage: http://www.enlightenment.org

Package: libethumb-svn-01
Architecture: any
Depends: ${shlibs:Depends}
Description: Enlightenment thumbnailing library
 Thumbnailing library meant to replace epsilon.

Package: libethumb-dev
Section: libdevel
Architecture: any
Depends: libethumb-svn-01 (= ${binary:Version}), libevas-dev, libedje-dev, libeina-dev, libecore-dev, libedbus-dev,
Description: ethumb devel package

Package: libethumb-bin
Architecture: any
Depends: ${shlibs:Depends}, libethumb-svn-01 (= ${binary:Version})
Description: ethumb binary files

Package: libethumb-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, libethumb-svn-01 (= ${binary:Version})
Description: ethumb debug package
